@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap');

#root {
    font-family: 'Nunito', Courier, monospace;
}

/* NAVBAR */

.nav-dropdown{
    color:#F1DEC9;
    margin-top: 1%;
    margin-left: 2%;
    font-size: large;
}

.nav-dropdown:hover{
    color:#e8ca8e;
}

/* HOMEPAGE */

.wallpaper {
    background-image: url('./images/wallpaper.jpg');
    background-position: 25% 45%;
    background-size: cover;
}

.text-home {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.div-business{
    background-color: #8D7B68;
    align-items: center;
}

.img-business{
    width: 60%;
    filter: drop-shadow(-20px 15px 3px black);
}

/* FORM */

.form-container {
    background: linear-gradient(white, #ffffff) padding-box,
                linear-gradient(145deg, transparent 35%,#F1DEC9, #8D7B68) border-box;
    border: 2px solid transparent;
    box-shadow: #313131;
    padding: 32px 24px;
    font-size: 14px;
    font-family: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    border-radius: 16px;
    background-size: 200% 100%;
    animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
  
    50% {
      background-position: 100% 50%;
    }
  
    100% {
      background-position: 0% 50%;
    }
  }
  
  .form-container button:active {
    scale: 0.95;
  }
  
  .form-container .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .form-container .form-group {
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
  
  .form-container .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #717171;
    font-weight: 600;
    font-size: 16px;
  }
  
  .form-container .form-group input {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    color: black;
    font-family: inherit;
    background-color: transparent;
    border: 1px solid #414141;
  }
  
  .form-container .form-group textarea {
    width: 100%;
    padding: 12px 16px;
    border-radius: 8px;
    resize: none;
    color: black;
    height: 96px;
    border: 1px solid #414141;
    background-color: transparent;
    font-family: inherit;
  }
  
  .form-container .form-group input::placeholder {
    opacity: 0.5;
  }
  
  .form-container .form-group input:focus {
    outline: none;
    border-color: #8D7B68;
  }
  
  .form-container .form-group textarea:focus {
    outline: none;
    border-color: #8D7B68;
  }
  
  .form-container .form-submit-btn {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    width: 40%;
    background: #8D7B68;
    padding: 12px 16px;
    margin-top: 8px;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.5s;
  }
  
  .form-container .form-submit-btn:hover {
    background-color: #F1DEC9;
    color: black;
  }

  .backHome{
      letter-spacing: 2px;
      font-weight: 500;
      background-color: #8D7B68;
      border: none;
      border-radius: 45px;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease 0s;
      cursor: pointer;
      outline: none;
  }
  .backHome:hover{
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px rgba(72, 72, 72, 0.4);
  }
  
  .backHome:active {
    transform: translateY(-1px);
  }
  
  